{% extends 'base.html.twig' %}

{% block title %}Article {{ article.title|capitalize }}{% endblock %}

{% block body %}
    <div class="container-md mt-5">
        <article class="card my-5 p-5 w-75 mx-auto">
            <div class="card-img">
                <img class="w-100 img-fluid rounded-5" alt="{{ article.title }}" src="{{ asset('uploads/article/illustration/'~article.illustration) }}" />
            </div>
            <div class="card-body">
                <p>Posté le : {{ article.createdAt|date('d-m-Y') }}</p>
                <h2 class="text-center">{{ article.title|capitalize }}</h2>
                <p>{{ article.content|capitalize }}</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="{{ path('blog') }}">Retourner au blog</a>
            </div>
        </article>
    </div>
{% endblock %}