{% extends 'Admin/admin_base.html.twig' %}

{% block title %}Les articles - Administration My Blog{% endblock %}

{% block body %}
    <div class="container-md mt-5">
        {% for message in app.flashes('success_articles_create') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in app.flashes('success_articles_edit') %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in app.flashes('success_articles_delete') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-md-8">
                <h2>Les articles du blog</h2>
            </div>
            <div class="col-md-8">
                <a class="btn btn-info" href="{{ path('admin_articles_create') }}">Créer un article</a>
            </div>
        </div>
        <div class="table-responsive mt-5">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-center">Date</th>
                    <th class="text-center">Thème</th>
                    <th class="text-center">Titre</th>
                    <th class="text-center">Contenu</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td class="text-center">{{ article.createdAt|date('d-m-Y') }}</td>
                        <td class="text-center">{{ article.theme.title|capitalize }}</td>
                        <td class="text-center"><a class="text-dark" target="_blank" rel="noopener noreferrer" href="#">{{ article.title|capitalize }}</a></td>
                        <td class="text-center">{{ article.content|capitalize }}</td>
                        <td class="center">
                            <div class="row d-flex justify-content-center">
                                <div class="mx-3">
                                    <a class="btn btn-warning" href="{{ path('admin_articles_edit', {'slug': article.slug}) }}"><i class="fas fa-edit mr-1"></i>Éditer</a>
                                    <a class="btn btn-danger" href="{{ path('admin_articles_delete', {'slug': article.slug}) }}"><i class="fas fa-trash mr-1"></i>Supprimer</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}